// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
    width: 1000px;
  }
  header{
    flex-direction: column;
    row-gap: 120px;
    text-align: center;
    h2{
        font-size: 3rem !important;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
