div {
  height: 500px !important;
  width: 300px;
  border-radius: 25px;
  /* background-color: red; */
  backdrop-filter: blur(10px);
  margin-left: 35%;
  margin-top: 10%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgb(2,0,36);
    background: -moz-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); 

  /* 
  background: linear-gradient();
  background: linear-gradient(green, red);
  background: linear-gradient(65deg, green, red);
  background: linear-gradient(65deg, green 10%, red 20%);
  background: linear-gradient(65deg, rgb(0, 255, 0) 10%, rbg(255, 0, 0) 20%);
  background: linear-gradient(65deg, rgb(0, 255, 0, 0.2) 10%, rbg(255, 0, 0, 0.1) 20%);
  
  
  
  */
  border: 1px solid rgb(255, 255, 255, 0.1);
}

/* body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: 100%;
  background-position: 50% 50%;
  overflow: hidden;
} */


table, tr, td{
  border-collapse: collapse;
}
td{
  background-color:red;
}