div {
  height: 500px;
  width: 300px;
  margin: 5% 35%;
  border-radius: 25px;
  /* background-color: green; */
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid rgba(255, 255, 255, 0.345);
  padding: 15px;

  background: radial-gradient(circle, red, yellow);
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  /*
  background: linear-gradient(); 
  background: linear-gradient(red, yellow);
  background: linear-gradient(45deg, red, yellow);
  background: linear-gradient(45deg, red 10%, yellow 5%);
  background: linear-gradient(45deg, rgb(255, 0, 0, 0.1) 10%, rbg(255, 255, 0, 0.5) 5%);
  */
}

body {
  height: 100vh;
  color: wheat;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: 100%;
  background-position: 50% 50%;
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
