@mixin btn() {
  height: 51px;
  padding: 15px 31px;
  align-items: center;
  border-radius: 7px;
  // border: none;
}

@mixin blueBtn() {
  @include btn();
  background-color: $blue;
  color: $white;
}

@mixin transparentBtn() {
  @include btn();
  @include border();
  background-color: transparent;
  border-color: $blue;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

@mixin input() {
  padding: 10px;
  width: 50%;
  padding: 15px;
  @include border();
}
