@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

$font: 'Roboto', sans-serif;

$h2: 70px;
$h3: 50px;
$h4: 30px;
$h5: 24px;
$h6: 20px;
$p: 16px;



h2 {
    font-size: $h2;
  }